{
  "presets": [["env", { "modules": false }], "stage-2"],
  "plugins": [
    "transform-class-properties",
    ["transform-react-jsx", { "pragma": "h" }]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "jest"
      ]
    }
  }
}
