{
  "presets": ["@babel/env", "@babel/typescript"],
  "plugins": [
    ["@babel/proposal-object-rest-spread", { "loose": true }, "unique"]
  ],
  "env": {
    "test": {
      "presets": [["@babel/env", { "targets": { "node": "current" } }]]
    }
  }
}
