:root {
  --background-gradient: linear-gradient(91deg, #f1eefc, #9dc6ff 70%, #a5bcff);
  --text-gradient: -webkit-linear-gradient(0deg, #6191ff, #e98eff);

  --very-light-gray: #eee;
  --purple: #9079ff;
  --blue: #016ec1;

  --focus-visible: 0 0 0 4px color(#73a5ff a(50%));
}

html {
  box-sizing: border-box;
  font-size: 0.9375em;

  @media (min-width: 768px) {
    font-size: 1em;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--background-gradient);
  font-family: 'Nunito Sans', Avenir, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  color: rgb(50, 75, 100);
  line-height: 1.7;
}

ul {
  padding-left: 20px;
}

a {
  color: #115ed8;
  text-decoration: none;

  &:hover {
    color: color(#115ed8 tint(25%) s(150%));
    text-decoration: underline;
  }

  &.is-white {
    color: white;
    text-decoration: underline;
    font-weight: 700;

    &:hover {
      color: cyan;
    }
  }
}

.focus-visible {
  box-shadow: var(--focus-visible) !important;
}

.container {
  max-width: 1170px;
  padding: 0 4%;
  margin: 0 auto;
}

.table-wrapper {
  position: relative;
  overflow-x: auto;
  margin: 0 -5.5%;
  -webkit-overflow-scrolling: touch;

  @media (min-width: 768px) {
    max-width: 100%;
    margin: 0;
  }

  @media (min-width: 1050px) {
    overflow-x: visible;
  }
}

.emoji {
  position: relative;
  vertical-align: -17%;
  width: 40px;
  margin-right: 4px;
}

.table {
  text-align: left;
  border-collapse: collapse;
  max-width: calc(100% - 1px);

  tr:nth-child(even) {
    background-color: #f9fafb;
  }

  th {
    position: sticky;
    top: 0;
    background: #787f96;
    color: white;
    padding: 8px 15px;
    font-size: 90%;
    border: none;
    z-index: 10;
  }

  tbody {
    border: 1px solid #e6e9f5;
    border-top: none;
  }

  td {
    padding: 8px 15px;
  }

  td:nth-child(3) {
    min-width: 175px;
  }

  td:last-child {
    min-width: 250px;
  }
}

.blockquote {
  margin-left: 0;
  padding-left: 10px;
  border-left: 5px solid #eee;
  opacity: 0.7;
  font-size: 90%;
}

.tippy {
  background: rgba(237, 202, 255, 0.5);
  color: #d22489;
  outline: 0;
  padding: 0 4px;
  font-weight: 600;
  cursor: help;
}

.tippy-tooltip.rounded-theme {
  border-radius: 10px;
}

.tippy-tooltip.gradient-theme {
  font-weight: bold;

  .tippy-backdrop {
    background: radial-gradient(
      circle at 67% 60%,
      #95d8ff,
      #363cff,
      #9c24ff,
      red
    );
  }
}

.tippy-tooltip.honeybee-theme {
  background-color: yellow;
  border: 2px solid orange;
  color: #333;
  font-weight: bold;
}

.tippy-tooltip.secondary-theme {
  max-width: 250px;
}

.tippy-tooltip.google-theme {
  font-size: 0.85rem;
  padding: 0.25rem 0.4rem;
  background-color: #505355;
  font-weight: 600;
}

.tippy-tooltip.light-border-theme {
  background: white;
  border: 1px solid rgba(0, 8, 16, 0.15);
  color: #333;
  box-shadow: 0 3px 14px -0.5px rgba(0, 8, 16, 0.1);

  .tippy-arrow {
    transform-style: preserve-3d;

    &::after {
      content: '';
      position: absolute;
      left: -8px;
      transform: translateZ(-1px);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }
  }
}

.tippy-popper[x-placement^='top']
  .tippy-tooltip.light-border-theme
  .tippy-arrow {
  border-top-color: #fff;

  &::after {
    top: -7px;
    border-top: 8px solid rgba(0, 8, 16, 0.15);
  }
}

.tippy-popper[x-placement^='bottom']
  .tippy-tooltip.light-border-theme
  .tippy-arrow {
  border-bottom-color: #fff;

  &::after {
    bottom: -7px;
    border-bottom: 8px solid rgba(0, 8, 16, 0.15);
  }
}

.tippy-list {
  padding-left: 0;
  list-style-type: none;
  text-align: left;
}

.tippy-tooltip[data-animation='height'] {
  padding: 0;
  overflow: hidden;

  &[data-state='visible'] {
    height: 30px;
  }
  &[data-state='hidden'] {
    height: 0;
  }

  .tippy-content {
    padding: 0.3rem 0.6rem;
  }
}

.tippy-tooltip.ajax-theme {
  width: 200px;
  padding: 0;
  overflow: hidden;
  transform: rotate(0.001deg);
}

.tippy-tooltip.ajax-theme img {
  display: block;
  max-width: 100%;
}

.table-of-contents {
  font-size: 19px;
  list-style-type: none;
  line-height: 2;

  .emoji {
    margin-right: 10px;
  }
}
