.btn {
  border: none;
  background: linear-gradient(135deg, #56c8ff, #6f99fc) no-repeat;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 4px 8px -1px rgba(25, 80, 137, 0.08),
    0 8px 24px -2px rgba(0, 128, 255, 0.06);
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 20px;
  transition: all 0.2s;
  outline: 0;
  will-change: opacity;
  user-select: none;
  -webkit-touch-callout: none;

  &:hover,
  &.tippy-active {
    opacity: 0.8;
  }

  &.focus-visible {
    box-shadow: var(--focus-visible);
  }
}
