.btn {
  border: none;
  background: linear-gradient(135deg, #73a5ff, #5477f5);
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 4px 8px -1px rgba(0, 32, 128, 0.2),
    0 8px 24px -2px rgba(0, 128, 255, 0.1);
  font-size: 20px;
  transition: all 0.2s;
  outline: 0;
  will-change: opacity;

  &:hover,
  &.tippy-active {
    opacity: 0.8;
  }

  &.focus-visible {
    box-shadow: var(--focus-visible);
  }
}
