code,
pre {
  font-family: Monaco, Menlo, 'SFMono-Regular', Consolas, 'Liberation Mono',
    Courier, monospace;
}

.code-wrapper {
  position: relative;

  &::after {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    padding: 0 8px;
    font-size: 11px;
    font-weight: 800;
    position: absolute;
    top: -10px;
    right: -6px;
    z-index: 1;
    line-height: 2.5;
    border-radius: 4px;
    text-transform: uppercase;
  }

  &[data-lang='html']::after {
    content: 'html';
    background: linear-gradient(135deg, #ff8792, #ff4c9f);
  }

  &[data-lang='shell']::after {
    content: 'shell';
    background: linear-gradient(135deg, #a1a6c9, #7d80a2);
  }

  &[data-lang='js']::after {
    content: 'javascript';
    background: linear-gradient(135deg, #ffd07a, #ff9133);
  }

  &[data-lang='css']::after {
    content: 'css';
    background: linear-gradient(135deg, #7983ff, #5f9de9);
  }
}

code:not([class*='language-']) {
  background: #f5f8ff;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 0.8em;
  color: #4760f0;
}

code[class*='language-'],
pre[class*='language-'] {
  color: rgb(50, 75, 100);
  background: none;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  font-size: 16px;
  -webkit-overflow-scrolling: touch;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*='language-'] {
  overflow: auto;
  padding: 12px 16px;
  border-radius: 4px;
}

pre.is-option {
  margin: 0;
  padding: 0;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #f8f9fd;
  box-shadow: 0 0 0 1px #dfe6ff;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7b8eb7;
}

.token.selector,
.token.attr-name,
.token.boolean {
  color: #d46600;
}

.token.punctuation {
  color: #93a0c7;
}

.namespace {
  opacity: 0.7;
}

.token.tag {
  color: #e22f70;
}

.token.property {
  color: #753fec;
}

.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #da5dbd;
}

.token.string,
.language-css .token.string,
.token.url,
.token.attr-value,
.token.char,
.token.builtin,
.token.inserted {
  color: #008a7e;
}

.token.operator,
.token.entity,
.style .token.string {
  color: #ff4485;
}

.token.important,
.token.atrule,
.token.keyword {
  color: #7552ff;
}

.token.function {
  color: #396dff;
}

.token.regex,
.token.variable {
  color: #00a8d4;
}

.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
