.tippy-tooltip.tippy-light-theme {
  color: #26323d;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
    0 4px 80px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
  background-color: #fff;
}
.tippy-tooltip.tippy-light-theme[data-placement^='top'] .tippy-arrow {
  border-top: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.tippy-tooltip.tippy-light-theme[data-placement^='bottom'] .tippy-arrow {
  border-bottom: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.tippy-tooltip.tippy-light-theme[data-placement^='left'] .tippy-arrow {
  border-left: 8px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.tippy-tooltip.tippy-light-theme[data-placement^='right'] .tippy-arrow {
  border-right: 8px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.tippy-tooltip.tippy-light-theme .tippy-backdrop {
  background-color: #fff;
}
.tippy-tooltip.tippy-light-theme .tippy-svgArrow {
  fill: #fff;
}
.tippy-tooltip.tippy-light-theme[data-animatefill] {
  background-color: transparent;
}
