@import '../_mixins.scss';
@import '../_vars.scss';

$color: #505355;

.#{$namespace-prefix}-tooltip.google-theme {
  background-color: $color;
  padding: 0.25rem 0.4375rem;
  font-size: 0.8125rem;
  font-weight: 600;

  @each $placement in $placements {
    &[x-placement^='#{$placement}'] {
      .#{$namespace-prefix}-arrow {
        @include arrow($placement, 8px, $color);
      }
    }
  }

  .#{$namespace-prefix}-backdrop {
    background-color: $color;
  }

  .#{$namespace-prefix}-roundarrow {
    fill: $color;
  }

  &[data-animatefill] {
    background-color: transparent;
  }

  &[data-size='small'] {
    font-size: 0.75rem;
    padding: 0.1875rem 0.375rem;
  }

  &[data-size='large'] {
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
  }
}
