@import '../_mixins.scss';
@import '../_vars.scss';

.#{$namespace-prefix}-tooltip.#{$namespace-prefix}-translucent-theme {
  background-color: rgba(0, 0, 0, 0.7);

  @each $placement in $placements {
    &[data-placement^='#{$placement}'] {
      .#{$namespace-prefix}-arrow {
        @include arrow($placement, 7px, rgba(0, 0, 0, 0.7));
      }
    }
  }

  .#{$namespace-prefix}-backdrop {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .#{$namespace-prefix}-svgArrow {
    fill: rgba(0, 0, 0, 0.7);
  }

  &[data-animatefill] {
    background-color: transparent;
  }
}
