@font-face {
  font-family: 'X';
  src: url('./fonts/X-Regular.woff2') format('woff2'),
    url('./fonts/X-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'X';
  src: url('./fonts/X-Bold.woff2') format('woff2'),
    url('./fonts/X-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
