@import './_mixins.scss';
@import './_vars.scss';

.#{$namespace-prefix}-tooltip {
  @each $placement in $placements {
    &[data-placement^='#{$placement}'] {
      > .#{$namespace-prefix}-svg-arrow {
        @include svg-arrow-transform-origin($placement, $arrow-size);
        @include arrow-margin($placement);
        @include arrow-position($placement, $arrow-size, true);

        svg {
          @include svg-arrow-transform($placement);
        }
      }
    }
  }

  &[data-interactive] {
    > .#{$namespace-prefix}-svg-arrow path {
      pointer-events: auto;
    }
  }
}

.#{$namespace-prefix}-svg-arrow {
  position: absolute;
  width: 18px;
  height: $arrow-size;
  fill: #333;
  pointer-events: none;

  svg {
    position: absolute;
    left: 0;
  }
}
