@import './mixins.scss';
@import './vars.scss';

.tippy-touch {
  cursor: pointer !important;
}

.tippy-popper {
  max-width: 350px;
  perspective: 700px;
  z-index: 9999;
  outline: 0;
  transition-timing-function: cubic-bezier(.165, .84, .44, 1);
  pointer-events: none;

  &.html-template {
    max-width: 96%;
    max-width: calc(100% - 20px);
  }

  @each $placement in $placements {
    &[x-placement^=#{$placement}] {
      
      [x-roundarrow] {
        @include roundarrow($placement, 24px, #333);
        @include arrow-position($placement, 15px);
        
        svg {
          @include roundarrow-transform($placement);
        }
      }

      [x-arrow] {
        @include arrow($placement, 7px, #333);
        @include arrow-position($placement, 7px);
        @include arrow-margin($placement);
      }

      [x-circle] {
        transform-origin: nth($circle-origins, index($placements, $placement));

        &[x-state=visible] {
          @include circle-transform-enter($placement);
          opacity: 1;
        }

        &[x-state=hidden] {
          @include circle-transform-leave($placement);
          opacity: 0;
        }
      }

      [x-animation=perspective] {
        transform-origin: nth($origins, index($placements, $placement));

        &[x-state=visible] {
          opacity: 1;
          @include enter-transform($placement, 'perspective');
        }
        &[x-state=hidden] {
          opacity: 0;
          @include leave-transform($placement, 'perspective');
        }
      }

      [x-animation=fade] {
        &[x-state=visible] {
          opacity: 1;
          @include enter-transform($placement, 'fade')
        }
        &[x-state=hidden] {
          opacity: 0;
          @include enter-transform($placement, 'fade')
        }
      }

      [x-animation=shift] {
        &[x-state=visible] {
          opacity: 1;
          @include enter-transform($placement, 'fade')
        }
        &[x-state=hidden] {
          opacity: 0;
          @include leave-transform($placement, 'shift')
        }
      }

      [x-animation=scale] {
        &[x-state=visible] {
          opacity: 1;
          @include enter-transform($placement, 'scale')
        }
        &[x-state=hidden] {
          opacity: 0;
          @include leave-transform($placement, 'scale')
        }
      }

    }
  }
}

.tippy-tooltip {
  position: relative;
  color: white;
  border-radius: 4px;
  font-size: 0.95rem;
  padding: 0.4rem 0.8rem;
  text-align: center;
  will-change: transform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;

  &[x-size=small] {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
  }

  &[x-size=large] {
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
  }

  &[x-animatefill] {
    overflow: hidden;
    background-color: transparent;
  }

  &[x-interactive] {
    pointer-events: auto;
  }

  &[x-inertia] {
    transition-timing-function: cubic-bezier(.53,2,.36,.85);
  }

  [x-arrow], [x-roundarrow] {
    position: absolute;
    width: 0;
    height: 0;
  }

  [x-circle] {
    position: absolute;
    will-change: transform;
    background-color: #333;
    border-radius: 50%;
    width: 130%;
    width: calc(110% + 2rem);
    left: 50%;
    top: 50%;
    z-index: -1;
    overflow: hidden;
    transition: all ease;

    &::before {
      content: '';
      padding-top: 90%;
      float: left;
    }
  }
}

@media (max-width: 450px) {
  .tippy-popper {
    max-width: 96%;
    max-width: calc(100% - 20px);
  }
}
