@import './_mixins.scss';
@import './_vars.scss';

.tippy-touch {
  cursor: pointer !important;
}

.tippy-popper {
  max-width: 350px;
  perspective: 700px;
  z-index: 9999;
  outline: 0;
  transition-timing-function: cubic-bezier(.165, .84, .44, 1);
  pointer-events: none;
  
  &[data-html] {
    max-width: 96%;
    max-width: calc(100% - 20px);
  }

  @each $placement in $placements {
    &[x-placement^=#{$placement}] {
      
      .tippy-backdrop {
        border-radius: nth($backdrop-border-radii, index($placements, $placement));
      }
      
      .tippy-roundarrow {
        @include roundarrow($placement, 24px, #333);
        @include arrow-position($placement, 15px);
        
        svg {
          @include roundarrow-transform($placement);
        }
      }

      .tippy-arrow {
        @include arrow($placement, 7px, #333);
        @include arrow-position($placement, 7px);
        @include arrow-margin($placement);
      }

      .tippy-backdrop {
        transform-origin: nth($backdrop-origins, index($placements, $placement));

        &[data-state=visible] {
          @include backdrop-transform-enter($placement);
          opacity: 1;
        }

        &[data-state=hidden] {
          @include backdrop-transform-leave($placement);
          opacity: 0;
        }
      }
      
      [data-animation=shift-toward] {
        &[data-state=visible] {
          opacity: 1;
          @include enter-transform($placement, 'fade');
        }
        &[data-state=hidden] {
          opacity: 0;
          @include leave-transform($placement, 'shift-toward');
        }
      }

      [data-animation=perspective] {
        transform-origin: nth($origins, index($placements, $placement));

        &[data-state=visible] {
          opacity: 1;
          @include enter-transform($placement, 'perspective');
        }
        &[data-state=hidden] {
          opacity: 0;
          @include leave-transform($placement, 'perspective');
        }
      }

      [data-animation=fade] {
        &[data-state=visible] {
          opacity: 1;
          @include enter-transform($placement, 'fade')
        }
        &[data-state=hidden] {
          opacity: 0;
          @include enter-transform($placement, 'fade')
        }
      }

      [data-animation=shift-away] {
        &[data-state=visible] {
          opacity: 1;
          @include enter-transform($placement, 'fade')
        }
        &[data-state=hidden] {
          opacity: 0;
          @include leave-transform($placement, 'shift-away')
        }
      }

      [data-animation=scale] {
        &[data-state=visible] {
          opacity: 1;
          @include enter-transform($placement, 'scale')
        }
        &[data-state=hidden] {
          opacity: 0;
          @include leave-transform($placement, 'scale')
        }
      }
    }
  }
}

.tippy-tooltip {
  position: relative;
  color: white;
  border-radius: 4px;
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem;
  text-align: center;
  will-change: transform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;

  &[data-size=small] {
    padding: 0.2rem 0.4rem;
    font-size: 0.75rem;
  }

  &[data-size=large] {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
  }

  &[data-animatefill] {
    overflow: hidden;
    background-color: transparent;
  }

  &[data-interactive] {
    pointer-events: auto;
  }

  &[data-inertia] {
    transition-timing-function: cubic-bezier(.53,2,.36,.85);
  }

  .tippy-arrow, .tippy-roundarrow {
    position: absolute;
    width: 0;
    height: 0;
  }

  .tippy-backdrop {
    position: absolute;
    will-change: transform;
    background-color: #333;
    border-radius: 50%;
    width: 135%;
    left: 50%;
    top: 50%;
    z-index: -1;
    overflow: hidden;
    backface-visibility: hidden;
    
    &[data-state=visible] {
      transition: all cubic-bezier(0.37, 0.21, 0.32, 0.82);
    }
    
    &[data-state=hidden] {
      transition: all cubic-bezier(.4,.5,.5,.99);
    }
    
    &::after {
      content: '';
      float: left;
      padding-top: 90%;
    }
  }
}

@media (max-width: 400px) {
  .tippy-popper {
    max-width: 96%;
    max-width: calc(100% - 20px);
  }
}
