html {
  font-size: 15px;
}

body {
  font-family: 'Nunito', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #3751cc;
  background: -webkit-linear-gradient(left,#5733ea, #4894ff 70%,#a5bcff);
  background: linear-gradient(90deg,#5733ea, #4894ff 70%,#a5bcff);
  color: #34495e;
}

.feat-helper-text {
  color: #6a8bad !important;
  font-weight: 300;
}

a:focus {
  text-decoration: none;
}

a span {
  color: #528cff;
}

a i {
  color: #00caf9;
}

table, p, ul {
  font-size: 1.1rem;
  line-height: 1.7;
}

h4 {
  margin: 2rem 0 1rem;
  font-weight: 600;
  line-height: 1.5;
}

code, pre {
  background-color: #f1f5ff;
  color: #2d61df;
  margin-bottom: 1rem;
  line-height: 1.7;
}

pre {
  padding: 0.5rem 1rem;
}

h2 {
  margin-bottom: 1.25rem;
}

strong {
  font-weight: 700;
}

h5 {
  line-height: 1.5;
  margin: 0;
}

.alert.alert-info {
  color: #0085ff;
  background-color: #f5fcff;
  border-color: #d6eaff;
  margin: 2rem 0;
}

.badge.badge-default {
  background-color: transparent;
  border: 1px solid #738fa1;
  color: #738fa1;
}

a:hover {
  text-decoration: none;
}

.material-icons {
  cursor: default;
  font-size: 1.1em;
  vertical-align: middle;
  position: relative;
  top: -0.05em;
}

.icon-left {
  margin-right: 0.25em;
}

.icon-right {
  margin-left: 0.25em;
}

.icon-big {
  font-size: 2em;
}

.opacity-low {
  opacity: 0.8;
}

.docs {
  margin-top: 1rem;
}
.btn-docs-version {
  margin: 0 0.25rem;
  background: transparent;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease;
}
.btn-docs-version:hover {
  background: white;
}
.btn-docs-version-current {
  background: white;
  color: #007bff;
}

.hero-badge {
  border: 1px solid rgba(223, 255, 123, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0 0.5rem 1rem;
  min-width: 104px;
}

.hero-badge:nth-child(1), .hero-badge:nth-child(3) {
  border-color: transparent;
}

.hero-badge:nth-child(1) span {
  color: #fff9b0;
  background: -webkit-linear-gradient(135deg, #fff9b0, #7dffc3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-badge:nth-child(1) i {
  color: pink;
}

.hero-badge:nth-child(2) {
  border-color: rgba(255,255,255,0.25);
}

.hero-badge:nth-child(2) i {
  color: #ffe79e;
}

.hero-link {
  color: inherit;
  text-decoration: none;
}
.hero-link span {
  color: #68f6ff;
  background: -webkit-linear-gradient(left,#bef9ff, #9aecff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green-text {
  color: #3ba065;
  font-weight: 600;
}

.badge {
  font-size: 80%;
}

.tippy-popper.html-template .tippy-tooltip {
  padding: 2rem;
  box-shadow: 0 4px 80px -8px rgba(0, 20, 60, 0.25);
  max-width: 500px;
  font-size: 1.2rem;
}

.logo {
  width: 80px;
  margin-left: -40px;
  position: absolute;
  top: -75px;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:focus {
  outline: auto 5px #5ba8ff !important;
  outline: auto 5px -webkit-focus-ring-color !important;
}

:focus:not(.focus-ring), input:focus {
  outline: 0 !important;
}

.btn {
  font-size: 1.25rem;
  font-family: inherit;
}

.result-box {
  padding: 1rem;
  background-color: #f5f6f9;
  margin-bottom: 1rem;
}

.result-box p {
  margin: -0.5rem 0 0.5rem;
  font-weight: 500;
}

.hero {
  padding: 8rem 0 4rem;
  color: white;
  text-align: center;
  -webkit-transition: opacity 1.5s cubic-bezier(0, 0, 0.15, 1.01), -webkit-transform 1.5s cubic-bezier(0, 0, 0.15, 1.01);
  transition: opacity 1.5s cubic-bezier(0, 0, 0.15, 1.01), -webkit-transform 1.5s cubic-bezier(0, 0, 0.15, 1.01);
  transition: opacity 1.5s cubic-bezier(0, 0, 0.15, 1.01), transform 1.5s cubic-bezier(0, 0, 0.15, 1.01);
  transition: opacity 1.5s cubic-bezier(0, 0, 0.15, 1.01), transform 1.5s cubic-bezier(0, 0, 0.15, 1.01), -webkit-transform 1.5s cubic-bezier(0, 0, 0.15, 1.01);
}

.hero-heading {
  display: inline-block;
  font-weight: 300;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  padding: 0.5rem;
  color: #7dffc3;
  background: -webkit-linear-gradient(135deg, #fff9b0, #7dffc3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tippy-tooltip[data-template-id="#template"] {
  padding: 2rem;
  transition-timing-function: cubic-bezier(.165, .84, .44, 1);
}

.tippy-tooltip[data-template-id="#my-template-id"] {
  padding: 2rem;
}

.tippy-link {
  white-space: nowrap;
}

.hero-subheading {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.7;
  color: white;
  margin-bottom: 2rem;
}

section {
  padding: 2rem 0;
}

#controlling-tooltips-manually .btn {
  margin-bottom: 1rem;
}

.btn.btn-secondary, .btn.btn-secondary:hover {
  background: #94a0b5;
  color: white;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.1), 0 15px 25px -4px rgba(100, 100, 150, 0.1);
}

hr {
  margin-top: 0;
  margin-bottom: 0.5rem;
  border-top: 1px solid rgba(0, 31, 255, 0.1);
}

.button-showcase .btn, .button-showcase .btn:active, .button-showcase:focus {
  margin: 1.25rem 1rem;
}

.button-showcase .btn, section .btn, section .btn:active, section .btn:focus:not(.btn-secondary) {
  color: white;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
  background: -webkit-linear-gradient(315deg,#73a5ff, #5477f5);
  background: linear-gradient(135deg,#73a5ff, #5477f5);
  letter-spacing: 0.5px;
  border: none;
  font-size: 1.3rem;
}

section .btn, section .btn:active {
  margin: 0;
}

.btn:hover {
  box-shadow: 0 10px 15px -1px rgba(0, 0, 0, 0.1), 0 25px 50px -4px rgba(80, 140, 255, 0.3);
}
.is-safari .btn:hover, .is-safari .btn.active, .is-safari .btn:active {
  opacity: 0.8;
}
body:not(.is-safari) .btn:not(.btn-danger):hover,
body:not(.is-safari) .btn.active,
body:not(.is-safari) .btn:active {
  -webkit-filter: brightness(1.15) hue-rotate(10deg) contrast(1.5);
  filter: brightness(1.15) hue-rotate(10deg) contrast(1.5);
}

.heading-top {
  font-size: 2.5rem;
  color: #9079ff;
  font-weight: 300;
}

main .container-fluid {
  background: white;
  max-width: 980px;
  padding: 2rem 1rem;
  box-shadow: 0 0 80px -4px rgba(0,20,40,0.1);
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

table {
  font-size: 1rem;
}

.table-wrapper {
  position: relative;
}

.table-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25px;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0.01), white);
  background: linear-gradient(90deg, rgba(255,255,255,0.01), white);
}

.tippy-tooltip.honeybee-theme {
  background-color: yellow;
  border: 2px solid orange;
  color: black;
}

.test-element {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background: linear-gradient(#5172eb,#928aff);
  box-shadow: 0 10px 20px -5px rgba(0,20,60,0.1), 0 0 10px rgba(0,20,60,0.05);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  margin: 1%;
  cursor: default;
}

#performance-test {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#performance-model {
  width: 70px;
}

.button-showcase .btn:last-child {
  animation: hover 2s ease-in-out infinite;
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 576px) {
  main .container-fluid {
    padding: 2rem;
  }
  .hero-link span {
    color: #68f6ff;
    background: -webkit-linear-gradient(left,#bef9ff, #9aecff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  a span {
    background: -webkit-linear-gradient(left,#00c0f9, #4d8cff, #9f72ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  main .container-fluid {
    padding: 2.5rem 4rem;
    margin: 2rem auto;
    border-radius: 10px;
  }
  .content-wrapper {
    padding: 0 1%;
  }
  .hero {
    padding: 8rem 0 2rem;
  }
}

@media (min-width: 976px) {
  main .container-fluid {
    padding: 2.5rem 5rem;
  }
}
