@import '../_mixins.scss';
@import '../_vars.scss';

.#{$namespace-prefix}-box {
  &[data-animation='scale-subtle'] {
    @each $placement in $placements {
      &[data-placement^='#{$placement}'] {
        transform-origin: nth($origins, index($placements, $placement));
      }
    }

    &[data-state='hidden'] {
      transform: scale(0.8);
      opacity: 0;
    }
  }
}
